.App {
  max-width: 992px;
  display: flex;
  margin: 0 auto;
}

.main-container {
  padding: 2rem 12px 2rem 0;
  background-color: #ffffff;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #ffffff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.post-box {
  padding: 12px 16px 0 16px;
  border: 1px solid #eeeeee;
  display: flex;
  transition: 0.3s;
}

.post-box:hover {
  background-color: #f3f3f3;
}

.avatar-box {
  margin-right: 12px;
  width: 48px;
}

.avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.content-box {
  flex: 1;

  div {
    color: black;
  }
}

.post-author {
  font-weight: bold;
  cursor: pointer;
}

.post-author:hover {
  text-decoration: underline;
}

.author-date-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tone-down {
  color: grey;
}

.post-image {
  border-radius: 15px;
  width: 100%;
  margin-top: 12px;
}

.form-box {
  padding: 12px 16px;
}

.input {
  border-radius: 15px;
}

.text-header {
  margin-left: 12px;
}

.pagination-box {
  padding: 12px 0;
  display: flex;
  justify-content: flex-end;
}

.home-top {
  display: flex;
}

.home-buttons-box {
  flex: 1;
  padding: 0 0px 12px 0px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.round-button {
  border-radius: 20px;
  min-width: 120px;
}

.center-box {
  display: flex;
  justify-content: center;
}

.newcomment-box {
  margin: 12px 0;
  padding: 12px 16px 0 16px;
  border: 3px solid #0079ca88;
  border-radius: 15px;
  display: flex;
  transition: 0.3s;
}

.newpost-buttons {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

.top-margin {
  margin-top: 12px;
}

.sider-box {
  padding: 2rem 0;
  overflow: auto;
  height: 100vh;
  position: sticky;
  top: 0;
}

.icon-big {
  font-size: 1.3em;
}
.profile-top {
  margin-left: 12px;
  display: flex;
  align-items: center;
  gap: 2em;
}
.avatar-big {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.mini-post {
  padding: 1rem;
  border: 1px solid #eeeeee;
  display: flex;
}
.mini-post-text {
  flex: 1;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  // align-items: flex-end;
}
.go-right {
  align-self: flex-end;
}
.mini-post-image {
  margin-right: 12px;
  max-width: 100px;
  max-height: 100px;
}
.mini-post-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile-data {
  margin: 8px 12px;
}
.page404 {
  font-size: xx-large;
  text-align: center;
}
.post-info-box {
  margin: 16px 4px;
  display: flex;
  gap: 1rem;
}
.post-buttons-box {
  justify-content: flex-end;
}
.no-more-box {
  text-align: center;
  background-color: #f0f0f0;
  margin: 2rem 0;
  padding: 1px;
  border-radius: 15px;
  color: grey;
}
.not-found-box {
  text-align: center;
  background-color: #f0f0f0;
  margin: 2rem;
  padding: 2rem;
  border-radius: 15px;
}